<%= form_with(model: name, local: true) do |form| %>
  <% if name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(name.errors.count, "error") %> prohibited this name from being saved:</h2>

      <ul>
      <% name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_area :user_name, id: :name_user_name %>
  </div>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_area :user_email, id: :name_user_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
