<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @name.user_name %>
</p>

<p>
  <strong>User email:</strong>
  <%= @name.user_email %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
